@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Public+Sans&family=Roboto&family=Rubik&display=swap');

.intro-cnt {
  display: flex;
  justify-content: space-around;
}

.intro-img {
  width: 500px;
}

.intro-txt-cnt {
  padding-top: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.intro-header {
  font-family: 'Public Sans', sans-serif;
  font-size: 45px;
}

.intro-para {
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 750px) {
  .intro-cnt {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    align-items: center;
  }

  .intro-img {
    width: 380px;
  }

  .intro-txt-cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 380px;
    gap: 15px;
  }
}
