.footer-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.attribution {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.footer-link {
  font-size: 25px;
}

.footer-dev-info {
  display: flex;
  gap: 21px;
}

.footer-btn-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

@media screen and (max-width: 850px) {
  .footer-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250;
  }
  .attribution {
    text-align: center;
  }
}
