@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Public+Sans&family=Roboto&family=Rubik&display=swap');

.cardComp-para-cnt {
  padding-left: 129px;
}

.cardComp-cnt {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.cardComp-para {
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
